body {
  margin: 0;
  /* FLEX */
  display: flex;
  flex-direction: column;
}

header {
  background-color: #0AB4FC;
  /* FLEX */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 80px;
}

header nav ul {
  list-style: none;
  /* FLEX */
  display: flex;
}

header nav ul li {
  margin-right: 1rem;
}

header a {
  text-decoration: none;
}

#egitura {
  width: 100%;
}

section h2 {
  text-align: center;
}

.produktuak {
  /* FLEX */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.produkto {
  width: 28%;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
}

footer {
  text-align: center;
  background-color: #088FC9;
  /* FLEX */
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.rrss {
  width: 3rem;
}

@media (orientation: landscape) {
  header img {
    height: 150px;
  }
  body {
    /* FLEX */
    flex-direction: row;
  }
  header {
    /* FLEX */
    flex-direction: column;
    justify-content: flex-start;
  }
  header nav ul {
    /* FLEX */
    flex-direction: column;
  }
  footer {
    text-align: right;
    /* FLEX */
    flex-direction: row;
    align-items: flex-end;
  }
}